@media screen and (max-width: 1200px) {
  .flexe{display: flex; flex-wrap: wrap;  justify-content: center;}
}
@media screen and (max-width: 800px) {
    .navbarglass {
    width: 500px;
    }
    .cvb{
      margin-left: none;
      margin-right: 2px;
    }
    .cvn{
      margin-right: none;
    }
    .header-link{
      width: 25px;
      height: 25px;
      right: 2px;
    }

    
}

@media screen and (max-width: 768px) {
    .toggle {
        position: relative;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        transition-duration: .5s;
    }
    .header-title{
      font-size: 120px;
    }
    .cvb{
      margin-left: none;
      margin-right: 2px;
    }
    .cvn{
      margin-right: none;
    }
    .header-img {
      z-index: 2;
      position: absolute;
      bottom: -4px;
      height: 500px;
      width: 700px;
    }
    .card-container {
      width: 160px;
      height: 205px;
    }
    
    .card-container-small {
      width: 160px;
      height: 160px;
    }
    .card .content .heading {
      font-size: 18px;
      font-weight: 800;
    }
    .content p{
      font-size: 12px;
      font-weight: 800;
      color: #ffffff;
    }
    .section.b{flex-wrap: wrap;}
      .ligne-sectionform{
        display: flex;
        flex-wrap: wrap;
        justify-self: center;
        align-items: center;
      }
      .colone-sectionform{
        width: 100%;
      }
      .connection{
        width :370px;
       }
       .overlay-connection{
        display: none;
       }
       .sign-up-connection{
       width :100%
       }
       .sign-in-connection{
       width :100%
       }
       .content p.card-text{
        width: 120px;
        height: 22px;
        font-size: 12px;
      }
      .parcours{
        width: 380px;
        padding: 20px;
      }
      .card-competence{
        height: 120px;
        width: 360px;
        overflow: scroll;
        margin-top: 10%;
        margin-bottom: 10%;
      }
     


}
@media screen and (max-width: 660px) {
    .header-title{
      font-size: 115px;
    }
    .navbarglass {
    width: 400px;
    }
    .cvb{
      margin-left: none;
      margin-right: -2px;
    }
    .cvn{
      margin-right: none;
    }
    .header-img {
      z-index: 2;
      position: absolute;
      bottom: -4px;
      height: 470px;
      width: 1000px;
    }
    .card-container {
      width: 160px;
      height: 205px;

    }
    .card-container-small {
      width: 160px;
      height: 160px;
    }
    .card .content .heading {
      font-size: 18px;
      font-weight: 800;
    }
    .content p{
      font-size: 12px;
      font-weight: 800;
      color: #ffffff;
    }

}
@media screen and (max-width:620px) {
  .text-mobile{
    display: contents;
  }
  .text-pc{
    display: none;
  }
}
@media screen and (max-width: 557px) {
    .header-title{
      font-size: 80px;
    }
    .navbarglass {
    width: 400px;
    }
    .cvb{
      margin-left: -2px;
      
    }
    .cvn{
      margin-right: none;
    }
    .header-img {
      z-index: 2;
      position: absolute;
      bottom: -4px;
      height: 400px;
      width: 100%;
    }
    .card-container {
      width: 160px;
      height: 205px;

    }
    .card-container-small {
      width: 160px;
      height: 160px;
    }
    .card .content .heading {
      font-size: 18px;
      font-weight: 800;
    }
    .content p{
      font-size: 12px;
      font-weight: 800;
      color: #ffffff;
    }
    form{padding: 0px;}
    .competences{padding: 0rem;}
    
  
}
@media screen and (max-width: 450px) {
  .header-title{
    font-size: 60px;
  }
    .navbarglass {
    width: 360px;
    height: 56px;
    min-height: 56px;
    }
    .cvb{
      margin-left: -2px;
    }
    .cvn{
      margin-right: none;
    }
    .header-img {
      z-index: 2;
      position: absolute;
      bottom: -4px;
      height: 280px;
      width: 100%;
    }
    .btn-download{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .card-container {
      width: 160px;
      height: 205px;

    }
    .card-container-small {
      width: 160px;
      height: 160px;
    }
    .card .content .heading {
      font-size: 18px;
      font-weight: 800;
    }
    .content p{
      font-size: 12px;
      font-weight: 800;
      color: #ffffff;
    }
    .titre-sectionform {
       align-items: center;
       display: flex;
       flex-wrap: wrap;
    }
    .parcours{
      width: 100%;
      max-width: 100%;
    }
    .card-competence{
      width:300px;
      max-width:100%;
    }
    html{
      max-width: 100vw;
    }
    .card-form{
      width: 300px;
    
    }
    .colone-sectionform{
      max-width: 400px;
    }
    
}
@media screen and (max-width: 360px) {
    .navbarglass {
    width: 300px;
    }
    .cvb{
      margin-left: -2px;
    }
    .cvn{
      margin-right: none;
    }
    .header-img {
      z-index: 2;
      position: absolute;
      bottom: -4px;
      height: 310px;
      width: 1000px;
    }
    .card-container {
      width: 160px;
      height: 205px;

    }
    .card-container-small {
      width: 160px;
      height: 160px;
    }
    .card .content .heading {
      font-size: 18px;
      font-weight: 800;
    }
    .content p{
      font-size: 12px;
      font-weight: 800;
      color: #ffffff;
    }


}
@media screen and (max-width: 330px) {
    .navbarglass {
    width: 270px;
    height: 55px;
    min-height: 55px;
    }
    .cvb{
      margin-left: -2px;
    }
    .cvn{
      margin-right: none;
    }
    .header-img {
      z-index: 2;
      position: absolute;
      bottom: -4px;
      height: 310px;
      width: 1000px;
    }
    .card-container {
      width: 160px;
      height: 205px;

    }
    .card-container-small {
      width: 160px;
      height: 160px;
    }
    .card .content .heading {
      font-size: 18px;
      font-weight: 800;
    }
    .content p{
      font-size: 12px;
      font-weight: 800;
      color: #ffffff;
    }
    .header-title{
      font-size: 55px;
    }

    
}
@media screen and (max-width: 280px) {
  .navbarglass {
  width: 250px;
  height: 50px;
  min-height: 50px;
  }
  .cvb{
    margin-left: -2px;
  }
  .cvn{
    margin-right: none;
  }
  .header-img {
    z-index: 2;
    position: absolute;
    bottom: -4px;
    height: 310px;
    width: 1000px;
  }
  .card .content .heading {
    font-size: 18px;
    font-weight: 800;
  }
  .content p{
    font-size: 12px;
    font-weight: 800;
    color: #ffffff;
  }

}
@media screen and (max-width: 260px) {
  .navbarglass {
  width: 200px;
  height: 50px;
  min-height: 50px;
  }
  .cvb{
    margin-left: -2px;
  }
  .cvn{
    margin-right: none;
  }
  .header-img {
    z-index: 2;
    position: absolute;
    bottom: -4px;
    height: 310px;
    width: 1000px;
  }
  .card .content .heading {
    font-size: 18px;
    font-weight: 800;
  }
  .content p{
    font-size: 12px;
    font-weight: 800;
    color: #ffffff;
  }
}
