

        
        <section class="header items-center flex bg-black">
            <h1 class="header-title"> DELON PORTFOLIO </h1>
            <video class="header-video" src="images/vid-header-2.mp4" type="video/mp4" autoplay="true" muted="true" loop="true" playsinline="true" ></video>
            <img class="header-img" src="images/jp robot.png" alt="">
            <div class="header-link">
              <a  href="https://www.linkedin.com/in/jean-philippe-delon-848734201/"><img class="linkedin" src="https://img.icons8.com/3d-fluency/1500/null/linkedin.png"/></a>
              <a  href="https://github.com/Delon00"><img class="github" src="https://img.icons8.com/3d-fluency/1500/null/github.png"/></a>
              <a  href="https://www.instagram.com/champagne.fmd/?utm_medium=copy_link"><img class="instagram" src="https://img.icons8.com/3d-fluency/1500/null/instagram-new.png"/></a>
              <a  href="https://twitter.com/rko_ph"><img class="twitter" src="https://img.icons8.com/3d-fluency/1500/null/twitter-circled.png"/></a>
            </div>  
                <!--<div class="slider"><img class="image-slide active" src="images/bg-img1.jpg" alt=""><img class="image-slide" src="images/bg-img2.jpg" alt=""><img class="image-slide" src="images/bg-img1.jpg" alt=""></div>-->
        </section>

        <section class="section a">
          <div data-aos="fade-right" class="titre">
            <h1>Réalisation</h1>
            <p>Mon parcours inclut la réalisation de diverses oeuvres, notamment le développement d'applications web, mobiles et de bureau, ainsi que la création d'affiches que voici:</p>
        </div>
        <div  class="flexe">
              <div data-aos="fade-up" data-aos-offset="200" data-aos-duration="700"  class="card-container">
              <div class="card">
                <a href="https://guapo--store.000webhostapp.com/">
                  <div class="img-content"><img class="projet-image" src="images/projet1.png" alt=""></div>
                  <div class="content">
                    <p class="heading" style="color: rgb(252, 142, 201);">Guapo-store</p>
                    <p>Application web e-commerce de vetement</p>
                    <br>
                    <p class="card-text">cliquez pour visiter</p>
                  </div>
                </a>
              </div>
            </div>
            <div data-aos="fade-up" data-aos-offset="200" data-aos-duration="1000" class="card-container-small">
              <div class="card">
                <a href="https://marwaxboutique.github.io/Marwax-boutique/index.html"><div class="img-content"><img class="projet-image" src="images/projet2.png" alt=""></div>
                  <div class="content">
                    <p class="heading" style="color: rgb(255, 148, 55);">Marwax</p>
                    <p>Application web e-commerce de vetement</p>
                    <br>
                    <p class="card-text">cliquez pour visiter</p>
                  </div>
                </a>
              </div>
            </div>
            <div data-aos="fade-up" data-aos-offset="200" data-aos-duration="1400" class="card-container">
              <div class="card">
                <div class="img-content"><img class="projet-image" src="images/projet4.png" alt=""></div>
                <div class="content">
                <p class="heading" style="color: #7b817c;">Code de réussite</p>
                <p>Livre de formation pour devenir un developpeur chevroné"</p>
              </div>
              </div>
          </div>
          <div data-aos="fade-up" data-aos-duration="1300" data-aos-anchor-placement="top-bottom" class="card-container">
            <div class="card">
              <a href="https://conectiware.github.io/Conectiware/">
                <div class="img-content"><img class="projet-image" src="images/projet5.png" alt=""></div>
                <div class="content">
                  <p class="heading" style="color:#f03a37;">Conectiware</p>
                  <p>Agence informatique</p>
                  <br>
                  <p class="card-text">cliquez pour visiter</p>
                </div>
              </a>
            </div>
          </div>
          <div data-aos="fade-up" data-aos-duration="1800" data-aos-anchor-placement="top-bottom" class="card-container-small">
            <div class="card">
              <div class="img-content"><img class="projet-image" src="images/projet6.png" alt=""></div>
               <div class="content">
              <p class="heading" style="color: #ffabdb; ">Guapo store</p>
              <p>Affiche Guapo store </p>
            </div>
            </div>
          </div>
          
          <div data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top-bottom" class="card-container">
            <div class="card">
              <div class="img-content"><img class="projet-image" src="images/projet3.png" alt=""></div>
               <div class="content">
              <p class="heading" style="color: #e9e357;">Delon graphics</p>
              <p>Affiche publicitaire</p>
            </div>
            </div>
           </div>
          </div>
        </section>

        <section class="section b">
          <div class="ligne-center">
            <h1 class="titre-competence" data-aos="fade-up">Parcours et compétences</h1>
          </div>
          
          <div class="ligne-center">
            <div class="colone" data-aos="zoom-in-right" data-aos-duration="1100" data-aos-anchor-placement="top-bottom" >
                <div class="parcours">
                  <p>Bonjour je me presente enfin je suis <span style="color: #ffae35;">Jean-Philippe DELON</span>  developpeur full-stack et designer graphique.</p><br>
                  <p>Mon parcours a débuté après l'obtention de mon baccalauréat, lorsque j'ai décidé de m'inscrire dans une école spécialisée en développement informatique. Au cours de ces trois années d'études, j'ai acquis de solides connaissances et compétences dans le domaine informatique par exemple les
                    languages et les outils graphique que vous avez <span class="text-pc">sur le bloc de droite ➡️</span> <span class="text-mobile"> en dessous de cette présentation ⬇️</span> .
                 </p>
                 <p>J'ai également pu enrichir mon parcours professionnel en réalisant des stages et en collaborant sur des projets concrets avec différentes entreprises, ce qui m'a permis de mettre en pratique mes compétences en informatique.</p>
                </div>
              </div>
              <div class="colone" data-aos="zoom-in-left" data-aos-duration="1100" data-aos-anchor-placement="top-bottom" >
                
                <div class="card-competence ">
                  <img class="img-competence node" src="images/nodejs.png" alt="développeur node js">
                  <img class="img-competence python"  src="images/python-188.png" alt="">
                  <img class="img-competence dart"  src="images/dart.png" alt="">
                  <img class="img-competence php" src="images/php.png" alt="">
                  <img class="img-competence csharp" src="images/c.png" alt="">
                  <img class="img-competence js"  src="images/js.png" alt="">
                  <img class="img-competence react"  src="images/react.png" alt="">
                  <img class="img-competence java"  src="images/java.png" alt="">
                  <img class="img-competence photoshop" src="images/photoshop.png" alt="">
                  <img class="img-competence figma" src="images/figma.png" alt="">
                </div>
              </div>
            </div>

            </div>
        </section>

        
    <section class="section c">
        <div class="ligne-sectionform">
          <div class="colone-sectionform" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1000">
            <div class="titre-sectionform">
              <h1>Contactez moi</h1>
              <p>Pour tous vos besoins et suggestions, n'hésitez pas à les partager avec moi via le formulaire Votre satisfaction est ma priorité, et je suis là pour vous aider à atteindre vos objectifs.</p>
              <br>
              <button> Télécharger le CV</button>
            </div>
          </div>
          <div class="colone">
            <div class="card-form" data-aos="fade-up" data-aos-offset="100" data-aos-duration="1400">
              <h2 class="titre-form">Formulaire</h2>
              <form action="">
                <input name="nom" type="text" placeholder="Nom">
                <input name="email" type="email" placeholder="Email">
                <label for="text">message:</label>
                <textarea class="message" name="" id="" cols="30" rows="5" ></textarea>
                <button>Envoyer</button>
            </form>
            </div>
          </div>
        </div>
    </section>

    <section class="section d">

    </section>

    
