

        
        <section class="header items-center flex bg-black">
            <h1 class="header-title"> DELON PORTFOLIO </h1>
            <video class="header-video" src="images/bg-vid-header.mp4" autoplay="" muted="" loop=""></video>
            <img class="header-img" src="images/jp robot.png" alt="">
            <div class="header-link">
              <a class="linkedin" href="https://www.linkedin.com/in/jean-philippe-delon-848734201/"><img src="https://img.icons8.com/3d-fluency/1500/null/linkedin.png"/></a>
              <a class="github" href="https://github.com/Delon00"><img src="https://img.icons8.com/3d-fluency/1500/null/github.png"/></a>
              <a class="instagram" href="https://www.instagram.com/champagne.fmd/?utm_medium=copy_link"><img src="https://img.icons8.com/3d-fluency/1500/null/instagram-new.png"/></a>
              <a class="twitter" href="https://twitter.com/rko_ph"><img src="https://img.icons8.com/3d-fluency/1500/null/twitter-circled.png"/></a>
            </div>  
                <!--<div class="slider"><img class="image-slide active" src="images/bg-img1.jpg" alt=""><img class="image-slide" src="images/bg-img2.jpg" alt=""><img class="image-slide" src="images/bg-img1.jpg" alt=""></div>-->
        </section>

        <section class="section a">
          <div data-aos="fade-right" class="titre">
            <h1>Réalisation</h1>
            <p>Mon parcours inclut la réalisation de diverses oeuvres, notamment le développement d'applications web, mobiles et de bureau, ainsi que la création d'affiches que voici:</p>
        </div>
        <div  class="flexe">
              <div data-aos="fade-up" data-aos-offset="200" data-aos-duration="700"  class="card-container">
              <div class="card">
                <div class="img-content"><img class="projet-image" src="images/projet1.png" alt=""></div>
                <div class="content">
                <p class="heading" style="color: rgb(252, 142, 201);">Guapo-store</p>
                <p>Application web e-commerce de vetement</p>
              </div>
              </div>
            </div>
            <div data-aos="fade-up" data-aos-offset="200" data-aos-duration="1000" class="card-container-small">
              <div class="card">
                <div class="img-content"><img class="projet-image" src="images/projet2.png" alt=""></div>
                <div class="content">
                <p class="heading" style="color: rgb(255, 148, 55);">Marwax</p>
                <p>Application web e-commerce de vetement</p>
              </div>
              </div>
            </div>
            <div data-aos="fade-up" data-aos-offset="200" data-aos-duration="1400" class="card-container">
              <div class="card">
                <div class="img-content"><img class="projet-image" src="images/projet4.png" alt=""></div>
                <div class="content">
                <p class="heading" style="color: #7b817c;">Code de réussite</p>
                <p>Livre de formation pour devenir un developpeur chevroné"</p>
              </div>
              </div>
          </div>
          <div data-aos="fade-up" data-aos-duration="1300" data-aos-anchor-placement="top-bottom" class="card-container">
            <div class="card">
              <div class="img-content"><img class="projet-image" src="images/projet5.png" alt=""></div>
               <div class="content">
              <p class="heading" style="color:#f03a37;">Conectiware</p>
              <p>Agence informatique</p>
            </div>
            </div>
          </div>
          <div data-aos="fade-up" data-aos-duration="1800" data-aos-anchor-placement="top-bottom" class="card-container-small">
            <div class="card">
              <div class="img-content"><img class="projet-image" src="images/projet6.png" alt=""></div>
               <div class="content">
              <p class="heading" style="color: #ffabdb; ">Guapo store</p>
              <p>Affiche Guapo store </p>
            </div>
            </div>
          </div>
          
          <div data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top-bottom" class="card-container">
            <div class="card">
              <div class="img-content"><img class="projet-image" src="images/projet3.png" alt=""></div>
               <div class="content">
              <p class="heading" style="color: #e9e357;">Delon graphics</p>
              <p>Application web e-commerce "Guapo-store"</p>
            </div>
            </div>
           </div>
          </div>
          <div class="flexe">
          </div>
        </section>

        <section class="section b">
          <div data-aos="fade-right"  class="titre-sectionb">
            <h1>Compétences</h1>
            <p>Au fil de plusieurs années d'expérience, j'ai eu l'occasion de me familiariser avec plusieurs langages.</p>
          </div>  
            <div class="ligne-center">
              <div data-aos="zoom-in-right" data-aos-duration="1100" data-aos-anchor-placement="top-bottom" class="colone">
                <div  class="card-competence">
                  <img class="img-competence js"  src="images/js.png" alt="">
                  <img class="img-competence react"  src="images/react.png" alt="">
                  <img class="img-competence hbs"  src="images/handlebar.png" alt="">
                  <img class="img-competence dart"  src="images/dart.png" alt="">
                </div>
                <h2 class="title-card-sectionb" >Front-end</h1>
              </div>
              <div data-aos="zoom-in-left" data-aos-duration="1100" data-aos-anchor-placement="top-bottom" class="colone">
                <div class="card-competence ">
                  <img class="img-competence php" src="images/php.png" alt="">
                  <img class="img-competence python"  src="images/python-188.png" alt="">
                  <img class="img-competence node" src="images/nodejs.png" alt="">
                  <img class="img-competence csharp" src="images/c.png" alt="">
                </div>
                <h2 class="title-card-sectionb" >Back-end</h1>
              </div>
            </div>

         

        </section>

        <section class="section c"></section>

    <section class="foot contact bg-gray-900 text-white py-20">
      <div class="container mx-auto px-4">
        <h2 class="text-4xl font-bold mb-12">Me contacter</h2>
        <form class="max-w-lg mx-auto">
          <div class="mb-4">
            <label class="block text-gray-400 mb-2" for="nom">Nom complet</label>
            <input class="bg-gray-800 text-white py-2 px-4 w-full rounded" type="text" id="nom" name="nom">
          </div>
          <div class="mb-4">
            <label class="block text-gray-400 mb-2" for="email">Adresse email</label>
            <input class="bg-gray-800 text-white py-2 px-4 w-full rounded" type="email" id="email" name="email">
          </div>
          <div class="mb-4">
            <label class="block text-gray-400 mb-2" for="message">Message</label>
            <textarea class="bg-gray-800 text-white py-2 px-4 w-full rounded" id="message" name="message"></textarea>
          </div>
          <button class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-500" type="submit">Envoyer</button>
        </form>
      </div>
    </section>

    <section>
      <div class="card-lg">
        <div class="left"></div>
        <div class="right"></div>
      </div>
    </section>

    
