<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/output" rel="stylesheet">
    <link  href="/style" rel="stylesheet">
    <link  href="/mediaquerry" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="/images/favicon.ico" rel="shortcut icon"  type="image/x-icon">
    <link href="/images/apple-touch-icon.png" rel="apple-touch-icon" sizes="144x144">
    <link href="/images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="/favicon.png" rel="shortcut icon">

    <title>Delon</title>
</head>
<body>
          
<nav class="flex">
    <div class="navbarglass w-full container mx-auto py-2 px-4 flex items-center justify-between">
      <div class="flex cvb">
        <a href="/"><img class="logo-size" src="images/favicon.png" alt="Delon Jean-Philippe"></a>
      </div>
      <input type="checkbox" id="checkbox" id="toggleLabel" class="off">
        <label for="checkbox" class="toggle">
          <div class="bars" id="bar1"></div><div class="bars" id="bar2"></div><div class="bars" id="bar3"></div>
        </label>
      <div class="hidden cvn md:flex md:items-center">
        <a class="nav-link text-white  py-2 px-4" href="/connexion">Blog</a>
        <a class="nav-link text-white  py-2 px-4" href="/connexion">Services</a>
        <a class="nav-link text-white  py-2 px-4" href="/connexion">Projets</a>
        <a class="nav-link text-white  py-2 px-4" href="/connexion">Contact</a>
        <a class="w-10" href="/connexion"><img src="https://img.icons8.com/3d-fluency/94/null/user-male-circle.png"/></a>
      </div>
    </div>
</nav>
    
        <!--Modal--->
        <div class="modal" id="myModal">
          <br><br><br>
          <div class="modal-content modalglass">
            {{!-- <span class="close">x</span> --}}
            <br><br>
            <p><a href="/connexion">Blog</a></p>
            <br>
            <p><a href="/connexion">Services</a></p>
            <br>
            <p><a href="/connexion">Projets</a></p>
            <br>
            <p><a href="/connexion">Contact</a></p>
            <br>
            <p><a href="/connexion">Conexion</a></p>
            <br><br><br>
          </div>
        </div>
    {{{ body }}}
        <!-- Footer -->
        <hr style="border:1px solid#ffae35 ;">
    <footer class="footer">
      <div class="ligne-center">
        <div class="colone"></div>
        <div class="colone"> <div class="ligne-center"><span>©</span><h3 class="footer-title">Delon-portfolio</h3></div></div>
        <div class="colone"></div>
        
      </div>
    </footer>
    
    <script src="/js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>AOS.init();</script>
</body>
</html>